// Define variables for your color scheme

// For example:
$pri-teal: #3a8891;
$sec-teal: #0e5e6f;
$pri-salmon: #ff9477;
$sec-salmon: #ffe0d6;
$alm-black: #072a32;
$alm-white: #fff9f8;
$white: #ffffff;
