<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>We find your <strong>coding coach</strong>.</h1>
    <p>Get help, learn faster and finish your projects today!</p>
    <a class="btn btn-flat" href="#">Get started</a>
  </div>
</div>
