.btn-ghost {
  color: $pri-salmon;
  border: 1px solid $pri-salmon;
  background: $alm-white;
  padding: 8px 24px;
  border-radius: 10px;
  font-weight: normal;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  font-family: $h3-font;
}

.btn-ghost:hover {
  opacity: 1;
  color: $pri-salmon;
  background: $sec-salmon;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 10px;
  border: 0px;
  background: $pri-teal;
  transition: background 0.3s ease;
  font-weight: stronger;
  font-family: $h3-font;
}

.btn-flat:hover {
  background: $sec-teal;
  color: white;
  border: 0px;
}

.a-btn {
  text-decoration: none;
}

.btn-salmon {
  color: $alm-white;
  border: 1px solid $pri-salmon;
  background: $pri-salmon;
  padding: 8px 24px;
  border-radius: 10px;
  font-weight: normal;
  opacity: 0.9;
  transition: opacity 0.3s ease;
  font-family: $h3-font;
}

.btn-salmon:hover {
  opacity: 1;
  color: $pri-salmon;
  background: $sec-salmon;
}
