// ******************* Card offer ************************

.offer_card {
  background-color: $sec-salmon;
  // border: 3px solid darkmagenta;
  width: 700px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  // flex-grow: 2;

}

.img_info {
  // border: 2px solid green;
  margin: 15px;
  height: 150px;
  display: flex;
  justify-content: space-around;
  // align-items: stretch;
}

.infos {
  // border: 2px solid red;
  width: 400px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.full-name {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  font-family: $h3-font;
  color: $sec-teal;
}

.skills {
  font-family: $headers-font;
  color: $sec-teal;
  font-weight: bold;
  background-color: $alm-white;
  border-radius: 7px;
  padding: 5px;
}

.rating_price {
  display: flex;
  justify-content: space-between;
  color: $sec-teal;
  font-weight: bold;
  padding: 0 10px;
}

.offer_description {
  // border: 2px solid rgb(38, 150, 175);
  margin: 0 25px 25px 25px;
  height: 200px;
  border-radius: 10px;
  background-color: $alm-white;
  padding: 10px;
}

.profile-image {
  display: flex;
  justify-content: center;
  align-items: center;
  // border: 3px solid darkgreen;
  width: 200px;
}

// ******************* Card trip ************************

.card-trip {
  overflow: hidden;
  background: white;
  padding: 24px;
  background-color: $sec-salmon;
  border-radius: 20px;
  border-width: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  font-family: $h3-font;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  background-color: $alm-white;
  border-radius: 0px 0px 10px 10px;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 60px;
}
