// ************** booking form******************

.booking-form {
  color: black;
  border: 3px solid $pri-teal;
  border-radius: 20px;
  background-color: $alm-white;
  width: 315px;
  height: 405px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.booking-form-inputs {
  border: 2px solid $pri-teal;
  border-radius: 7px;
  background-color: $alm-white;
  display: grid (1fr 1fr);
  grid-gap: 15px;
}

.booking-comment-input {
  border: 2px solid $pri-teal;
  border-radius: 10px;
  background-color: $alm-white;
}

.booking-form-heading {
  font-family: $headers-font;
  color: $sec-teal;
  font-weight: bold;
  text-align: center;
  font-size: 25px;
}

.booking-form-actions {
  text-align: center;
}

// **************** create offer form ****************

.create_offer_form {
  background-color: $sec-salmon;
  border-radius: 20px;
  padding: 50px;
}
